nav{
    margin-right: 10rem;


    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 20px;
        //gap: 10px;
        
        li{
            cursor: pointer;
            margin-right: 2rem;
        
            a{
                color: #9ac2ba;
                text-decoration: none;
                position: relative;
                //transition: 0.5s;
                padding: 0 8px;

                &:hover{
                    color: #E2C163;
                    
                }

                &:after{
                    content: '';
                    position: absolute;
                    background-color: red;
                    height: 3px;
                    width: 0;
                    left: 0;
                    bottom: -10px;
                    transition: 0.3s;
                }
                

                &:hover:after{
                    width: 100%;
                }
                .active{
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 3px;
                        width: 12px;
                        background: clr(secondary, yellow);
                        border-radius: 2px;
                    }
                }
            };
        
        }

        
    }

    .hamburger{
        display:none;
        cursor: pointer;

        svg{
            width: 1.5em !important;
            height: 1.5em !important;
        }
    }

    .cancel-hamburger{
        position: absolute;
        right: 30px;
        top: 25px;
        z-index: 10;
    }

}