.upButton{
    position: fixed; 
    width: 4rem;
    right: 1.5rem;
    bottom: 1rem;
    height: 50px;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
    color: #9ac2ba;
    background-color: transparent;
    border-color: transparent;

    &:hover{
        color: linear-gradient(90deg, rgba(255,254,223,1) 13%, rgba(255,195,88,1) 45%, rgba(237,127,1,1) 78%);
    }
}